@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background: #2b2d30;
    height: 100%;
}

h1 {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.profile-p {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    padding-bottom: 10px;
}

.button {
    text-decoration: none;
    background-color: rebeccapurple;
    border: none;
    color: white;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
    padding: 15px 32px;
    border-radius: 15px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #5b19df;
}

.center-button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.center {
    margin: auto;
    width: 50%;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}


.gradient {
    --size: 750px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.8, 0.8, 0.8);

    width: 50%;
    height: 50%;
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#9900ff, #000000);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 70% 70% 70% 70% / 70% 70% 70% 70%;
}

@media (min-width: 500px) {
    .gradient {
        --size: 500px;
    }
}

.selynlogo {
    width: 105px;
    height: 105px;

}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    transition: all 0.5s ease-out;
}

.card-header {
    padding-top: 20px;
}


.max-card {
    position: relative;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 550px;
    height: auto;
    background-color: #2b2d30;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
}

.card-buttons {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.card-head {
    text-align: center;
}

.card-content {
    padding-left: 20px;
    padding-right: 20px;
}

.holder {
    display: flex;
}

hr {
    margin-bottom: 15px;
}